# DATA CLEANING

We are reading the csv file which has the information that's collected while webscrapping

In [19]:
df  = pd.read_csv("Hyd_Cities")

In [129]:
df.isna().sum()

Titles                   0
Type                     0
BHK                      0
sft                      0
Costpersft               0
Prices                   0
construction_status      0
colony                 555
Location                 0
seller_info              0
Handover               505
dtype: int64

 - As there are many null values for colony column and they wouldn't be accurate even though its filled with median or mode        values so, as none of the columns are dependent on colony column dropping the column would be better.
 - Handover of the house is important and Prices of the house are dependent on handover even.So, it cannot be dropped.

In [130]:
df.drop(["colony"],axis = 1,inplace = True)

In [131]:
df

,Titles,Type,BHK,sft,Costpersft,Prices,construction_status,Location,seller_info,Handover
0,3 BHK Apartment in Lalitha Divine County,Apartment,3,1535,4900,7521000,Under Construction,Ameenpur,Lalitha Construction and DevelopersBUILDER0,Jan 2023
1,3 BHK Villa in Nest Bliss In The Woods,Villa,3,4000,8275,33100000,Under Construction,Harshaguda,Nest MakersBUILDER0,Sep 2024
2,3 BHK Apartment in Candeur Crescent,Apartment,3,2548,7810,19900000,Under Construction,Serilingampally,Candeur Developers And BuildersBUILDER0,Dec 2025
3,3 BHK Apartment in GHR Callisto,Apartment,3,1775,5199,9228000,Under Construction,Kollur,GHR InfraBUILDER0,Nov 2025
4,3 BHK Apartment in Vazhraa Vazhraa Prathik,Apartment,3,1835,6500,11900000,Under Construction,Nizampet,Vazhraa Nirmaan Pvt LtdBUILDER0,Apr 2023
...,...,...,...,...,...,...,...,...,...,...
1175,10 BHK Independent House,Independent,10,9000,7222,65000000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1176,3 BHK Apartment,Apartment,3,1670,10000,16700000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1177,3 BHK Apartment,Apartment,3,1550,10004,15500000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1178,3 BHK Apartment,Apartment,3,1360,6617,9000000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1179,2 BHK Apartment in Pearl Uptown,Apartment,2,1000,4350,4350000,Ready to move,Kowkur,Vikram ReddyAGENT0,1 year old

In [132]:
df.BHK.value_counts()

3     465
2     361
4      84
5      46
24     17
     ...
84      1
48      1
95      1
16      1
40      1
Name: BHK, Length: 62, dtype: int64

 - Just by looking at the BHK data we can tell BHK data is not accurate.
 - If we drop Residential plot columns we are getting accurate BHK data.
 - Residential plot is just an open area or a land which is used for any purpose like office, shops or any commercial uses, so      in that case there won't be any BHK but by default it took values which are even in decimals. So let's just fill residential    plot's BHK values as null and then fill them with BHK values depending on the sft of that plot, and by assuming if a house is    built there, then how many BHK's it would consist of.
 - Then it would be easy to analyse the data.

In [133]:
s = df[df.Type.isin(["Residential Plot"])].index.tolist()
for ind in s:
    df.iloc[ind,2] = np.NaN

In [135]:
df.BHK.value_counts()

3.0     461
2.0     357
4.0      82
5.0      46
8.0       7
6.0       6
1.0       5
10.0      5
7.0       4
9.0       2
Name: BHK, dtype: int64

In [1]:
#Here we are just dropping the duplicate values of the data in dataframe

In [136]:
df.drop_duplicates(inplace = True)

In [137]:
df

,Titles,Type,BHK,sft,Costpersft,Prices,construction_status,Location,seller_info,Handover
0,3 BHK Apartment in Lalitha Divine County,Apartment,3.0,1535,4900,7521000,Under Construction,Ameenpur,Lalitha Construction and DevelopersBUILDER0,Jan 2023
1,3 BHK Villa in Nest Bliss In The Woods,Villa,3.0,4000,8275,33100000,Under Construction,Harshaguda,Nest MakersBUILDER0,Sep 2024
2,3 BHK Apartment in Candeur Crescent,Apartment,3.0,2548,7810,19900000,Under Construction,Serilingampally,Candeur Developers And BuildersBUILDER0,Dec 2025
3,3 BHK Apartment in GHR Callisto,Apartment,3.0,1775,5199,9228000,Under Construction,Kollur,GHR InfraBUILDER0,Nov 2025
4,3 BHK Apartment in Vazhraa Vazhraa Prathik,Apartment,3.0,1835,6500,11900000,Under Construction,Nizampet,Vazhraa Nirmaan Pvt LtdBUILDER0,Apr 2023
...,...,...,...,...,...,...,...,...,...,...
1175,10 BHK Independent House,Independent,10.0,9000,7222,65000000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1176,3 BHK Apartment,Apartment,3.0,1670,10000,16700000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1177,3 BHK Apartment,Apartment,3.0,1550,10004,15500000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1178,3 BHK Apartment,Apartment,3.0,1360,6617,9000000,Ready to move,Madhapur,Sahara Real Estate ConsultantsAGENT0,NaN
1179,2 BHK Apartment in Pearl Uptown,Apartment,2.0,1000,4350,4350000,Ready to move,Kowkur,Vikram ReddyAGENT0,1 year old

In [144]:
df.isna().sum()

Unnamed: 0               0
Titles                   0
Type                     0
BHK                    166
sft                      0
Costpersft               0
Prices                   0
construction_status      0
Location                 0
seller_info              0
Handover               449
dtype: int64

 - Here first we are filling the null values of the handover column.
 - If we are just filling the null values with mode of the handover column itself, when we compare it with construction_status      column values are inaccurate
 - Eg : We are getting "6 years old" handover value for constuction_status which is "Under Construction" which clearly is          incorrect
 - So, We are grouping the constuction status and taking the mode then filling it with null values of handover column

In [147]:
s = df[df.construction_status.isin(["Ready to move"])]
s["Handover"].mode()

0    6 years old
dtype: object

In [150]:
s1 = s[s.Handover.isin([np.NaN])].index.tolist()
for ind in s1:
    df.iloc[ind,10] ="6 years old"

In [155]:
k = df[df.construction_status.isin(["Under Construction"])]
k["Handover"].mode()

0    Nov 2023
dtype: object

In [157]:
k1 = k[k.Handover.isin([np.NaN])].index.tolist()
for ind in k1:
    df.iloc[ind,10] ="Nov 2023"

In [161]:
h = df[df.construction_status.isin(["Resale"])]
h["Handover"].mode()

0    4 years old
dtype: object

In [163]:
h1 = h[h.Handover.isin([np.NaN])].index.tolist()
for ind in h1:
    df.iloc[ind,10] ="4 years old"

In [167]:
l = df[df.construction_status.isin(["New"])]
l["Handover"].mode()

0    1 year old
dtype: object

In [170]:
l1 = l[l.Handover.isin([np.NaN])].index.tolist()
for ind in l1:
    df.iloc[ind,10] ="1 year old"

In [172]:
df.isna().sum()

Unnamed: 0               0
Titles                   0
Type                     0
BHK                    166
sft                      0
Costpersft               0
Prices                   0
construction_status      0
Location                 0
seller_info              0
Handover                 0
dtype: int64

- Hence handover column null values are filled accurately. 
- Then we started sorting BHK values based on the sft ranges

In [179]:
s = df[(df.sft > 100) & (df.sft <500)]
s["BHK"].mode()

0    1.0
dtype: float64

In [182]:
s1 = s[s.BHK.isin([np.NaN])].index.tolist()
for ind in s1:
    df.iloc[ind,4] = 1.0

In [186]:
k = df[(df.sft > 500) & (df.sft <1000)]
k["BHK"].mode()

0    2.0
dtype: float64

In [189]:
k1 = k[k.BHK.isin([np.NaN])].index.tolist()
for ind in k1:
    df.iloc[ind,4] = 2.0

In [193]:
l = df[(df.sft > 1000) & (df.sft <=2000)]
l["BHK"].mode()

0    3.0
dtype: float64

In [196]:
l1 = l[l.BHK.isin([np.NaN])].index.tolist()
for ind in l1:
    df.iloc[ind,4] = 3.0

In [199]:
h = df[(df.sft > 2000) & (df.sft <3000)]
h["BHK"].mode()

0    3.0
dtype: float64

In [202]:
h1 = h[h.BHK.isin([np.NaN])].index.tolist()
for ind in h1:
    df.iloc[ind,4] = 3.0

In [206]:
h = df[(df.sft > 3000) & (df.sft <5000)]
h["BHK"].mode()

0    4.0
dtype: float64

In [209]:
h1 = h[h.BHK.isin([np.NaN])].index.tolist()
for ind in h1:
    df.iloc[ind,4] = 4.0

In [213]:
i = df[(df.sft > 5000) & (df.sft <10000)]
i["BHK"].mode()

0    5.0
dtype: float64

In [216]:
i1 = i[i.BHK.isin([np.NaN])].index.tolist()
for ind in i1:
    df.iloc[ind,4] = 5.0

In [220]:
s = df[(df.sft > 10000) & (df.sft <20000)]
s1 = s.index.tolist()

In [222]:
#All the values of this sft range are null, Hence we are just dropping the rows which are of this range
df.drop(s1,inplace = True)

In [226]:
df.isna().sum()

Unnamed: 0             0
Unnamed: 0.1           0
Titles                 0
Type                   0
BHK                    0
sft                    0
Costpersft             0
Prices                 0
construction_status    0
Location               0
seller_info            0
Handover               0
dtype: int64

Hence, All the null values and inaccurate values are filled accurately

In [6]:
df.dtypes

Titles                  object
Type                    object
BHK                    float64
sft                      int64
Costpersft               int64
Prices                   int64
construction_status     object
Location                object
seller_info             object
Handover                object
dtype: object

We are converting the type of BHK column from float to int

In [22]:
df['BHK'] = df['BHK'].astype(int)

In [20]:
#we are dropping titles column after extracting the required information from it
df.drop(["Titles"],axis = 1,inplace = True)

Then we are dividing the seller_info column into 2 columns by using regular expressions

In [8]:
s = []
k = []
for i in df["seller_info"]:
    if "OWNER" in i:
        a = re.findall(r"OWNER",i)
        k.append(i.split("OWNER")[0])
        s.append(a[0])
    if "AGENT" in i:
        a = re.findall(r"AGENT",i)
        k.append(i.split("AGENT")[0])
        s.append(a[0])
    if "BUILDER" in i:
        a = re.findall(r"BUILDER",i)
        k.append(i.split("BUILDER")[0])
        s.append(a[0])

In [9]:
df["seller"] = s

In [10]:
df["seller_info"] = k

This is the final data frame after cleaning the data .

In [45]:
df

,Type,BHK,sft,Costpersft,Prices,construction_status,Location,seller_info,Handover,seller
0,Apartment,3,1535,4900,7521000,Under Construction,Ameenpur,Lalitha Construction and Developers,Jan 2023,BUILDER
1,Villa,3,1575,8275,8400000,Under Construction,Harshaguda,Nest Makers,Sep 2024,BUILDER
2,Apartment,3,2548,7810,19900000,Under Construction,Serilingampally,Candeur Developers And Builders,Dec 2025,BUILDER
3,Apartment,3,1775,5199,9228000,Under Construction,Kollur,GHR Infra,Nov 2025,BUILDER
4,Apartment,3,1835,6500,11900000,Under Construction,Nizampet,Vazhraa Nirmaan Pvt Ltd,Apr 2023,BUILDER
...,...,...,...,...,...,...,...,...,...,...
1003,Independent,3,1575,7222,8400000,Ready to move,Madhapur,Sahara Real Estate Consultants,6 years old,AGENT
1004,Apartment,3,1670,10000,16700000,Ready to move,Madhapur,Sahara Real Estate Consultants,6 years old,AGENT
1005,Apartment,3,1550,10004,15500000,Ready to move,Madhapur,Sahara Real Estate Consultants,6 years old,AGENT
1006,Apartment,3,1360,6617,9000000,Ready to move,Madhapur,Sahara Real Estate Consultants,6 years old,AGENT
1007,Apartment,2,1000,4350,4350000,Ready to move,Kowkur,Vikram Reddy,1 year old,AGENT

In [ ]:
df = df.to_csv("hyd_cities2")

Hence, data cleaning is done